.hr-middle {
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    font-weight: bold;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.col-md-5, .col-lg-5 {
    border: 1px solid black;
}

li {
    font-weight: bold;
}